<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard - Hotel el Faro</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Opciones:</h4>
      <ul>
        <li><a routerLink="/clientes">Listar Clientes</a></li>
        <!-- <li><a routerLink="/categorias-add">Agregar categoria</a></li>
            <li><a routerLink="/productosListado">Listar productos</a></li>
            <li><a routerLink="/productosAgregar">Agregar producto</a></li>
            <li><a routerLink="/productosFiltro">Filtros de productos</a></li> -->
      </ul>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>